.c {
  position: absolute;
  /* max-width: 500px;
  max-height: 500px;
  width: 400px;
  height: 400px; */
  width: 100%;
  height: 100%;
  /* cursor: pointer; */
  will-change: transform, opacity;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.list {
  position: relative;
  width: 100%;
  height: 100%;
  
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 15px;
}

.list > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* text-transform: uppercase; */
  font-size: 10px;
  line-height: 10px;
  border-radius: 15px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}
